@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-shopify-green: #008060;
  --color-shopify-green-dark: #006e52;
  --color-shopify-text: #202223;
  --color-shopify-subtext: #6d7175;
  --color-shopify-border: #8c9196;
  --color-shopify-surface: #f4f6f8;
  --color-shopify-red: #d82c0d;
  --color-shopify-red-light: #fed3d1;
}

:root {
  --background: #ffffff;
  --foreground: #202223;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
